!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title ShopiDAV - Develop your Shopify store with pleasure!

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'

    %link{ href: 'favicon.ico', rel: 'shortcut icon' }
    %link{ href: '/assets/shopify-57.png', rel: 'apple-touch-icon' }
    %link{ href: '/assets/shopify-72.png', rel: 'apple-touch-icon', sizes: '72x72' }
    %link{ href: '/assets/shopify-114.png', rel: 'apple-touch-icon', sizes: '114x114' }

    /[if lt IE 9]
      = javascript_include_tag '//html5shim.googlecode.com/svn/trunk/html5.js'

    %script{ type: 'text/javascript', src: 'http://use.typekit.com/gps4fvz.js' }
    %script{ type: 'text/javascript' }
      try{Typekit.load();}catch(e){}

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container

          %a.btn.btn-navbar{ data: { target: '.nav-collapse', toggle: 'collapse' } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          = image_tag 'shopidav.png', alt: 'ShopiDAV', class: 'brand', size: '45x30'

          = link_to 'ShopiDAV', '/', class: 'brand'

          - if current_shop
            .nav-collapse
              %ul.nav.pull-right
                %li
                  %a{ href: "http://#{ current_shop.url }", target: 'blank' }
                    %i.icon-home.icon-white
                    Storefront
                %li
                  %a{ href: "https://#{ current_shop.url }/admin", target: 'blank' }
                    %i.icon-cog.icon-white
                    Shopify Admin
                %li.divider
                %li
                  %a{ href: logout_path }
                    %i.icon-off.icon-white
                    Logout

    .container
      .content
        .row
          .span9
            = yield

          .span3
            .well.sidebar-nav
              %ul.nav.nav-list
                %li.nav-header
                  %i.icon-ok.icon-white.icon-large
                  Information
                %li= link_to 'Features', '/features'
                %li= link_to 'WebDAV clients', '/clients'

                %li.nav-header
                  %i.icon-road.icon-white.icon-large
                  Tips and tricks
                %li= link_to 'Theme development', '/theme-development'

                %li.nav-header
                  %i.icon-comment.icon-white.icon-large
                  Support
                %li= link_to 'Changelog', '/changelog'
                %li= link_to 'Contact', '/contact'

      %footer.navbar-fixed-bottom
        %p
          A Shopify app by
          = succeed '.' do
            %a{ href: 'https://mksoft.ch' } mksoft.ch


    = javascript_include_tag 'application'
